body{
    background-image: url(Assets/Fundos/fundoAzulClaro.png);
}

.quadrado{
    position: fixed;
    left: 50%;
    top: 15%;
    height: 80vh;
    width:47vw;
    background: white;
    border-radius: 8%;
}